# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=tech_jobs_db
POSTGRES_PORT=5432

# MinIO (S3)
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin_password
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

# Airflow
AIRFLOW_UID=50000
